/***********************************************************************************************************/
/**                                                                                                       **/
/**  APP.CSS shall serve as the BASE CODE for CSS || It shall house the most general styles (defaults)    **/
/**                                                                                                       **/
/***********************************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{ /* General Font || Have No Choice but to use this otherwise it would not look like image */
  font-family: 'Inter';
  font-style: normal;
}


svg {width: 100%; height: auto;}

body    
{ @apply bg-white;

}

input           
{
@apply px-3.5 py-2.5 gap-2 rounded-lg m-0;
@apply box-border border-[1px] border-solid border-[#D2D2D2];
    /*
    padding: 10px 14px;
    gap: 8px;
    border-radius: 8px;
    margin: 0px;

    box-sizing: border-box;
    border: 1px solid #D2D2D2; /* This information was not necessary */
}