@tailwind base;
@tailwind components;
@tailwind utilities;


    * {
      vertical-align: baseline;
      font-weight: inherit;
      font-family: inherit;
      font-style: inherit;
      font-size: 100%;
      border: 0 none;
      outline: 0;
      padding: 0;
      margin: 0;
      }

      /* Reset Source: https://perishablepress.com/a-killer-collection-of-global-css-reset-styles/ */

/***********************************************************************************************************/
/**                                                                                                       **/
/**  INDEX.CSS shall serve as the setup point for Tailwind.CSS || It would also so the custom RESET CODE  **/
/**                                                                                                       **/
/***********************************************************************************************************/